/* div{
    background-color: hotpink;
    width: 50%;
    height: 200px;
} */
/* .satu{
    width: 200px;
    height: 200px;
    background-color: khaki;
}
.dua{
    width: 75%;
    background-color: lightblue;
} */
div {
    width: 200px;
    height: 200px;
    background-color:lightgreen ;
    overflow: auto;
}